@page "/tier"
@using System.Globalization
@using System.Collections
@using Microsoft.Extensions.Logging
@using Microsoft.Maui.Media
@using Microsoft.Maui.Storage
@using MudBlazor
@using Microsoft.AspNetCore.Components.Web.Virtualization
@inject ILogger<TierListComp> Logger
@inject IJSRuntime JSRuntime
<link href="css/charactercolor.css" rel="stylesheet" />

<div style="overflow: hidden">
		<div class="maiedal align-content-center">
			<div class="p-3 d-flex col-12 col-md-7 shadow darken-85 flex-column mx-auto my-auto shadow" style="border-radius: 2vw;">
				<div class="d-flex p-2 text-end justify-content-end">
					<a class="clickable" @onclick="Exit">✖</a>
				</div>
				<div class="mx-1 mx-md-2">
				@foreach (var pair in selected.tiers)
				{
					<div @key="@pair.Key" class="d-flex flex-wrap flex-md-nowrap my-2 py-2 px-4 me-sm-3 me-md-0" style="border: 2px solid; border-radius: 10px; border-color: @(pair.Value.color)!important;">
						<div class="d-flex m-1 flex-column text-center justify-content-center mx-auto col-12 col-sm-3 py-1 py-sm-1 py-md-auto">
							<input type="text" value="@pair.Value.name" class="rounded fs-2 py-md-auto py-1 m-0 text-center flex-fill col-12 text-wrap text-light" @onchange="(e) => ChangeTierName(e.Value?.ToString(), pair.Value.ogname)" placeholder="Tier Title" style="background-color: @pair.Value.color">
						</div>
						<div class="col-12 col-md-9 m-1 d-flex flex-row flex-fill">
							@if (false) // TODO: the mudcolorpicker takes a while to loadon mobile, but input color is janky as well
							{
								<div class="col-6 d-flex flex-fill">
									<h5 class="mx-1">Color: </h5>
									<input type="color" value="@pair.Value.color" />	
								</div>
							}
							else
							{
								<MudColorPicker Label="Tier Color" @bind-Text="pair.Value.color" Style="@($"color: white;")" Placeholder="Select Color" Class="col-6" />
							}
							<div class="d-flex flex-column">
								<button class="p-1 mx-1 bg-secondary" style="border-bottom: 1px solid; border-color: #ccc; border-top-left-radius: 4px; border-top-right-radius: 4px;" @onclick="() => RearengeTier(pair.Key, -1)"><MudIcon Icon="@Icons.Material.Filled.KeyboardArrowUp" Title="MoveUp" /></button>
								<button class="p-1 mx-1 bg-secondary" style="border-top: 1px solid; border-color: #ccc; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;" @onclick="() => RearengeTier(pair.Key, 1)"><MudIcon Icon="@Icons.Material.Filled.KeyboardArrowDown" Title="MoveDown" /></button>
							</div>
							<button class="mx-2 bg-danger my-2 px-1 rounded col-3 me-10" @onclick="@(() => Remove(pair.Key))">Remove</button>
						</div>
					</div>
				}
				</div>
			</div>
		</div>
		@if (yousure)
		{
			<div class="maiedal d-flex flex-column text-center justify-content-center">
				<div class="p-0 p-md-2 darken-95 d-flex rounded text-center flex-column justify-content-center mx-auto text-light col-6">
					<h5> Are you sure you want to permanently remove this tier? All items will be deleted with it!</h5>
					<div class="d-flex flex-row flex-wrap mx-auto">
						<button class="mx-2 text-light" @onclick="YouSure">No</button>
						<button class="mx-2 text-danger" @onclick="DeleteTier">Yes, remove it and all items within</button>
					</div>
				</div>
			</div>
		}
</div>

@code
{
	[Parameter]
	public required TierList selected { get; set; }

	[Parameter]
	public EventCallback OnSave { get; set; }
	[Parameter]
	public EventCallback OnExit { get; set; }

	[Parameter] 
	public EventCallback<string> OnExport { get; set; }

	[Parameter]
	public EventCallback<string> OnModified { get; set; }

	[Parameter]
	public EventCallback<string> OnLoadingStart { get; set; } // string is loading message

	[Parameter]
	public EventCallback<string> OnLoaded { get; set; } // string is optional loading complete message

	bool Loading = true;

	// modal confirm
	bool yousure;

	string temptiername = "";

	string ToBeDeletedTier = "";

	bool mobile;

	protected override async Task OnInitializedAsync()
	{
		mobile = OperatingSystem.IsAndroid() || OperatingSystem.IsIOS();
		await OnLoaded.InvokeAsync();
		Loading = false;
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender) {
			await OnLoaded.InvokeAsync();
			Loading = false;
		}
	}

	void Toggle(ref bool thing)
	{
		thing = !thing;
	}

	async Task Exit()
	{
		await OnExit.InvokeAsync();
	}

	async Task ChangeTierName(Tier tier)
	{
		await ChangeTierName(tier.name, tier.ogname);
	}

	async Task ChangeTierName(string? neww, string old)
	{
		Logger.LogInformation($"{neww}");
		if (String.IsNullOrEmpty(neww)) return;
		Tier? temp = selected.tiers[old];
		selected.tiers.Remove(old);

		while (true)
		{
			try
			{
				selected.tiers.Add(neww, temp);
				break;
			}
			catch
			{
				neww += " (1)";
			}
		}
		temp.name = neww;
		temp.ogname = neww;
		temp = null;
		await OnModified.InvokeAsync(neww);
		await OnSave.InvokeAsync();
	}

	void ChangeTierName(ChangeEventArgs e, string old)
	{
		if (temptiername != "")
			ChangeTierName(temptiername, old);
		temptiername = "";
	}

	async Task StoreTierName(ChangeEventArgs e)
	{
		//temptiername = neww;
		string h = await JSRuntime.InvokeAsync<string>("getPlainText", temptiername);
		Logger.LogInformation(h);
	}

	async Task RearengeTier(string key, int direction)
	{
		if (direction == 0) return;
		await OnLoadingStart.InvokeAsync("Rearenging Tier...");
		List<KeyValuePair<string, Tier>> rearenger = selected.tiers.ToList();
		int index = rearenger.FindIndex((e) => e.Key == key);
		int newindex = index + direction;
		if (newindex < 0 || newindex >= rearenger.Count) return;
		await OnModified.InvokeAsync(rearenger[newindex].Key);
		await OnModified.InvokeAsync(rearenger[index].Key);
		var temp = rearenger[index];
		rearenger.RemoveAt(index);
		rearenger.Insert(newindex, temp);
		selected.tiers = rearenger.ToDictionary();
		await OnLoaded.InvokeAsync("Tier Rearenged!");
	}

	void Remove(string tier)
	{
		if (!yousure)
		{
			ToBeDeletedTier = tier;
		}
		else ToBeDeletedTier = "";

		yousure = !yousure;
	}

	void YouSure()
	{
		yousure = !yousure;
	}

	async Task DeleteTier()
	{
		if (String.IsNullOrEmpty(ToBeDeletedTier)) return;
		selected.tiers.Remove(ToBeDeletedTier);
		selected.ModifiedNow();
		YouSure();
		await OnSave.InvokeAsync();
	}
}